# Исключаем компилированные Python-файлы
__pycache__/
*.pyc
*.pyo
*.pyd

# Исключаем виртуальное окружение, если используется
venv/

# Логи, которые не нужны в контейнере
logs/

# Конфиденциальные файлы и переменные окружения
.env
*.env

# Сертификаты SSL (используются только Nginx, монтируются извне)
certs/

# Git-файлы и папки
.git
.gitignore

# Кеши и временные файлы IDE
*.swp
*.swo
.vscode/
.idea/

# Docker файлы, не нужные в контейнере с ботом
.dockerignore
